section.catalog
  .container
    h2.catalog__title Каталог септиков Genesis (Генезис) в Санкт-Петербурге
    ul.catalog__list
      li.catalog__item
        .catalog__image
          img(src="../images/catalog/catalog-1.png", alt="")
        .catalog__item-title Септик Genesis 350 (Генезис 350) <br> <span>В Санкт-Петербурге</span>
        .catalog__info
          .catalog__info-box
            p.catalog__info-title Кол-во человек
            span.catalog__info-num 4
          .catalog__info-box
            p.catalog__info-title Цена
            span.catalog__info-price от 148 900 руб.
        a.catalog__btn.modal-link(href="#") Заказать
      li.catalog__item
        .catalog__image
          img(src="../images/catalog/catalog-2.png", alt="")
        .catalog__item-title Септик Genesis 350PR (Генезис 350ПР) <br> <span>В Санкт-Петербурге</span>
        .catalog__info
          .catalog__info-box
            p.catalog__info-title Кол-во человек
            span.catalog__info-num 4
          .catalog__info-box
            p.catalog__info-title Цена
            span.catalog__info-price от 157 200 руб.
        a.catalog__btn.modal-link(href="#") Заказать
      li.catalog__item
        .catalog__image
          img(src="../images/catalog/catalog-3.png", alt="")
        .catalog__item-title Септик Genesis 350L (Генезис 350Л) <br> <span>В Санкт-Петербурге</span>
        .catalog__info
          .catalog__info-box
            p.catalog__info-title Кол-во человек
            span.catalog__info-num 4
          .catalog__info-box
            p.catalog__info-title Цена
            span.catalog__info-price от 171 300 руб.
        a.catalog__btn.modal-link(href="#") Заказать
      li.catalog__item
        .catalog__image
          img(src="../images/catalog/catalog-4.png", alt="")
        .catalog__item-title Септик Genesis 350LPR (Генезис 350ЛПР) <br> <span>В Санкт-Петербурге</span>
        .catalog__info
          .catalog__info-box
            p.catalog__info-title Кол-во человек
            span.catalog__info-num 4
          .catalog__info-box
            p.catalog__info-title Цена
            span.catalog__info-price 175 500 руб.
        a.catalog__btn.modal-link(href="#") Заказать
      li.catalog__item
        .catalog__image
          img(src="../images/catalog/catalog-5.png", alt="")
        .catalog__item-title Септик Genesis 500 (Генезис 500) <br> <span>В Санкт-Петербурге</span>
        .catalog__info
          .catalog__info-box
            p.catalog__info-title Кол-во человек
            span.catalog__info-num 6
          .catalog__info-box
            p.catalog__info-title Цена
            span.catalog__info-price от 186 800 руб.
        a.catalog__btn.modal-link(href="#") Заказать
      li.catalog__item
        .catalog__image
          img(src="../images/catalog/catalog-6.png", alt="")
        .catalog__item-title Септик Genesis 500L (Генезис 500Л) <br> <span>В Санкт-Петербурге</span>
        .catalog__info
          .catalog__info-box
            p.catalog__info-title Кол-во человек
            span.catalog__info-num 6
          .catalog__info-box
            p.catalog__info-title Цена
            span.catalog__info-price от 203 000 руб.
        a.catalog__btn.modal-link(href="#") Заказать
      li.catalog__item
        .catalog__image
          img(src="../images/catalog/catalog-7.png", alt="")
        .catalog__item-title Септик Genesis 500PR (Генезис 500ПР) <br> <span>В Санкт-Петербурге</span>
        .catalog__info
          .catalog__info-box
            p.catalog__info-title Кол-во человек
            span.catalog__info-num 6
          .catalog__info-box
            p.catalog__info-title Цена
            span.catalog__info-price от 190 300 руб.
        a.catalog__btn.modal-link(href="#") Заказать
      li.catalog__item
        .catalog__image
          img(src="../images/catalog/catalog-8.png", alt="")
        .catalog__item-title Септик Genesis 500PRL (Генезис 500ПРЛ) <br> <span>В Санкт-Петербурге</span>
        .catalog__info
          .catalog__info-box
            p.catalog__info-title Кол-во человек
            span.catalog__info-num 6
          .catalog__info-box
            p.catalog__info-title Цена
            span.catalog__info-price 207 300 руб.
        a.catalog__btn.modal-link(href="#") Заказать
      li.catalog__item
        .catalog__image
          img(src="../images/catalog/catalog-9.png", alt="")
        .catalog__item-title Септик Genesis 700 (Генезис 700) <br> <span>В Санкт-Петербурге</span>
        .catalog__info
          .catalog__info-box
            p.catalog__info-title Кол-во человек
            span.catalog__info-num 9
          .catalog__info-box
            p.catalog__info-title Цена
            span.catalog__info-price от 215 800 руб.
        a.catalog__btn.modal-link(href="#") Заказать
      li.catalog__item
        .catalog__image
          img(src="../images/catalog/catalog-10.png", alt="")
        .catalog__item-title Септик Genesis 700L (Генезис 700Л) <br> <span>В Санкт-Петербурге</span>
        .catalog__info
          .catalog__info-box
            p.catalog__info-title Кол-во человек
            span.catalog__info-num 9
          .catalog__info-box
            p.catalog__info-title Цена
            span.catalog__info-price от 232 600 руб.
        a.catalog__btn.modal-link(href="#") Заказать
      li.catalog__item
        .catalog__image
          img(src="../images/catalog/catalog-11.png", alt="")
        .catalog__item-title Септик Genesis 700PR (Генезис 700ПР) <br> <span>В Санкт-Петербурге</span>
        .catalog__info
          .catalog__info-box
            p.catalog__info-title Кол-во человек
            span.catalog__info-num 9
          .catalog__info-box
            p.catalog__info-title Цена
            span.catalog__info-price от 210 300 руб.
        a.catalog__btn.modal-link(href="#") Заказать
      li.catalog__item
        .catalog__image
          img(src="../images/catalog/catalog-12.png", alt="")
        .catalog__item-title Септик Genesis 700PRL (Генезис 700ПРЛ) <br> <span>В Санкт-Петербурге</span>
        .catalog__info
          .catalog__info-box
            p.catalog__info-title Кол-во человек
            span.catalog__info-num 9
          .catalog__info-box
            p.catalog__info-title Цена
            span.catalog__info-price 236 300 руб.
        a.catalog__btn.modal-link(href="#") Заказать