section.example
  .example__bg
  h2.example__title Для каких объектов можно использовать септик Genesis (Генезис)?
  .container
    ul.example__inner
        li.example__item
          img(src="../images/example/example-1.jpg", alt="")
          p.example__item-text Септик Genesis (Генезис) для Дачи в Санкт-Петербурге
          a(href="#").example__item-link.modal-link Заказать
        li.example__item
          img(src="../images/example/example-2.jpg", alt="")
          p.example__item-text Септик Genesis (Генезис) для Коттеджа в Санкт-Петербурге
          a(href="#").example__item-link.modal-link Заказать
        li.example__item
          img(src="../images/example/example-3.jpg", alt="")
          p.example__item-text Септик Genesis (Генезис) для Кафе в Санкт-Петербурге
          a(href="#").example__item-link.modal-link Заказать
        li.example__item
          img(src="../images/example/example-4.jpg", alt="")
          p.example__item-text Септик Genesis (Генезис) для Предприятий в Санкт-Петербурге
          a(href="#").example__item-link.modal-link Заказать
