section.install
  .container
    h2.install__title Как проходит уставнока септика?
    ul.install__list 
      li.install__item
        img.install__item-icon(src="../images/install/install-icon-1.svg", alt="")
        p.install__item-step 01 шаг
        p.install__item-text Подготовка котлована
        img(src="../images/install/install-arrow.svg", alt="")
      li.install__item 
        img.install__item-icon(src="../images/install/install-icon-2.svg", alt="")
        p.install__item-step 02 шаг
        p.install__item-text Установка септика
        img(src="../images/install/install-arrow.svg", alt="")
      li.install__item 
        img.install__item-icon(src="../images/install/install-icon-3.svg", alt="")
        p.install__item-step 03 шаг
        p.install__item-text Монтаж трубопровода
        img(src="../images/install/install-arrow.svg", alt="")
      li.install__item 
        img.install__item-icon(src="../images/install/install-icon-4.svg", alt="")
        p.install__item-step 04 шаг
        p.install__item-text Заполнение водой, одновременно с засыпкой
        img(src="../images/install/install-arrow.svg", alt="")
      li.install__item 
        img.install__item-icon(src="../images/install/install-icon-5.svg", alt="")
        p.install__item-step 05 шаг
        p.install__item-text Пусконаладочные работы
        img(src="../images/install/install-arrow.svg", alt="")
      li.install__item 
        img.install__item-icon(src="../images/install/install-icon-6.svg", alt="")
        p.install__item-step 06 шаг
        p.install__item-text Финальная засыпка
        img(src="../images/install/install-arrow.svg", alt="")