section.mistake
  .container
    .mistake__inner
      h2.mistake__title Какие ошибки допускают чаще всего?
      ul.mistake__list
        li.mistake__item
          img(src="../images/different/close.svg", alt="")
          .mistake__item-content
            p.mistake__item-title Незнание всех тонкостей и характеристик
            p.mistake__item-text Правильный выбор септика может сделать только опытный специалист из этой отрасли. Важно учитывать множество внешних факторов, а также характеристики септика. Тогда вы сможете избеждать неприятностей.
        li.mistake__item
          img(src="../images/different/close.svg", alt="")
          .mistake__item-content
            p.mistake__item-title Самостоятельная постройка ради экономии
            p.mistake__item-text Если вы раньше не занимались установкой септиков, то не стоит полагаться на свои способности. Неправильная установка или постройка собственного очистного оборудования могут привести к последствиям,  которые будут намного дороже нового септика.
        li.mistake__item
          img(src="../images/different/close.svg", alt="")
          .mistake__item-content
            p.mistake__item-title Переплатили за септик от перекупщиков
            p.mistake__item-text Большинство продавцов септиков являются посредниками. При этом стоимость оборудования может включать в себя огромную наценку, превышающая стоимость от производителя. Будье внимательны!
        li.mistake__item
          img(src="../images/different/close.svg", alt="")
          .mistake__item-content
            p.mistake__item-title Купили септик по рекомендации знакомых
            p.mistake__item-text Если у ваших друзей или соседей септик работает как надо и без перебоев, это не говорит о том, что тот же самый септика будет отлично работать и у вас. Выбрать септик нельзя просто по рекомендации, важно проанализировать множество внешних факторов.
          