section.montage-form
  .container 
    .montage-form__inner 
      .montage-form__content 
        h2.montage-form__title Проводим монтаж и установку септиков Genesis любой сложности
        p.montage-form__text Опыт наших инженеров и специалистов позволяет работать даже в самых сложных условиях!
        form(action="mail.php")
          input.montage-form__input.input-phone(type="text" required placeholder='+7(999) 999-99-99') 
          button.montage-form__btn(type='submit') Оставить заявку
        p.montage-form__policy Отправляя данные, вы соглашаетесь с <a href="policy.html">политикой конфиденциальности</a>