.process
  .container
    h2.process__title <span>Как</span> мы работаем? 
    ul.process__list
      li.process__item
        img(src="../images/process/process-1.png", alt="")
        p.process__item-title Свяжитесь с нами
        p.process__item-text Оставьте заявку или позвоните нам сами. Менеджер согласует дату для проведения замеров
      li.process__item
        img(src="../images/process/process-2.png", alt="")
        p.process__item-title Выберите удобное время
        p.process__item-text Инженер приедет к вам в удобное время проконсультирует по всем вопросам и&nbsp;составит смету
      li.process__item
        img(src="../images/process/process-3.png", alt="")
        p.process__item-title Примите работу!
        p.process__item-text В удобное для вас время приедет бригада и оперативно проведет монтаж септика