section.sale
  .sale__wrapper
    .container
      .sale__inner
        .sale__content
          h1.sale__title Продажа и монтаж септика Генезис <span>в Санкт-Петербурге</span>
          .sale__content-items
            .sale__content-item
              p Цены от производителя
            .sale__content-item
              p Монтаж септиков до&nbsp;5 дней
          form(action="mail.php").sale__form 
            h3.sale__form-title Рассчитаем стоимость септика и установки уже сегодня!
            p.sale__form-text  Оставьте свой номер телефона и наш инженер перезвонит вам!
            .sale__form-box
              input(type="text" name="phone" placeholder='+7(999) 999-99-99' required).sale__form-input.input-phone
              button(type="submit").sale__form-button Оставить заявку
            p.sale__form-policy Отправляя данные, вы соглашаетесь с <a href="policy.html">политикой конфиденциальности</a>
        