section.services
  .container
    h2.services__title Дополнительные услуги для септика в Санкт-Петербурге
    ul.services__list
      li.services__item
        .services__item-image
          img(src="../images/services/services-1.png", alt="")
        p.services__item-title Монтаж септика до 6 человек <br> <span>В Санкт-Петербурге</span>
        .services__item-box
          p.services__item-box-title Цена
          span.services__item-box-num 15 000 руб.
        a.services__item-link.modal-link(href="#") Подробней
      li.services__item
        .services__item-image
          img(src="../images/services/services-2.png", alt="")
        p.services__item-title Монтаж септика до 9 человек <br> <span>В Санкт-Петербурге</span>
        .services__item-box
          p.services__item-box-title Цена
          span.services__item-box-num 19 000 руб.
        a.services__item-link.modal-link(href="#") Подробней
      li.services__item
        .services__item-image
          img(src="../images/services/services-3.png", alt="")
        p.services__item-title Монтаж септика до 15 человек <br> <span>В Санкт-Петербурге</span>
        .services__item-box
          p.services__item-box-title Цена
          span.services__item-box-num 25 000 руб.
        a.services__item-link.modal-link(href="#") Подробней
      li.services__item
        .services__item-image
          img(src="../images/services/services-4.png", alt="")
        p.services__item-title Ремонт септика <br> <span>В Санкт-Петербурге</span>
        .services__item-box
          p.services__item-box-title Цена
          span.services__item-box-num 2 500 руб.
        a.services__item-link.modal-link(href="#") Подробней
      li.services__item
        .services__item-image
          img(src="../images/services/services-5.png", alt="")
        p.services__item-title Обслуживание септика <br> <span>В Санкт-Петербурге</span>
        .services__item-box
          p.services__item-box-title Цена
          span.services__item-box-num 3 000 руб.
        a.services__item-link.modal-link(href="#") Подробней
      li.services__item
        .services__item-image
          img(src="../images/services/services-6.png", alt="")
        p.services__item-title Откачка септика <br> <span>В Санкт-Петербурге</span>
        .services__item-box
          p.services__item-box-title Цена
          span.services__item-box-num 950 руб.
        a.services__item-link.modal-link(href="#") Подробней
      li.services__item
        .services__item-image
          img(src="../images/services/services-7.png", alt="")
        p.services__item-title Услуги манипулятора <br> <span>В Санкт-Петербурге</span>
        .services__item-box
          p.services__item-box-title Цена
          span.services__item-box-num 2 700 руб.
        a.services__item-link.modal-link(href="#") Подробней
      li.services__item
        .services__item-image
          img(src="../images/services/services-8.png", alt="")
        p.services__item-title Копка ям и траншей <br> <span>В Санкт-Петербурге</span>
        .services__item-box
          p.services__item-box-title Цена
          span.services__item-box-num 1 500 руб.
        a.services__item-link.modal-link(href="#") Подробней
