section.technic
  .container 
    h2.technic__title <span>Работаем только</span> с лучшей техникой и инструментами
    ul.technic__list 
      li.technic__item 
        .technic__item-image
          img(src="../images/technic/technic-1.png", alt="")
        .technic__item-content
          p.technic__item-title Перенесные насосные станции
          p.technic__item-text Такие станции используем для оперативной откачки воды.
      li.technic__item 
        .technic__item-image
          img(src="../images/technic/technic-2.png", alt="")
        .technic__item-content
          p.technic__item-title Автономные дизельные генераторы
          p.technic__item-text Даже если нет доступа к электричеству, мы все равно качественно проведем монтаж!
      li.technic__item 
        .technic__item-image
          img(src="../images/technic/technic-3.png", alt="")
        .technic__item-content
          p.technic__item-title Профессиональные буровые установки
          p.technic__item-text Проводим бурение с помощью профессиональной и надежной техники!
      li.technic__item 
        .technic__item-image
          img(src="../images/technic/technic-4.png", alt="")
        .technic__item-content
          p.technic__item-title Экскаваторы, погрузчики и другая техника
          p.technic__item-text Для клиента важна скорость и качество, для этого мы используем только профессиональную технику!
