section.works
  .container
    h2.works__title Для чего нужен септик и как он работает?
    .works__inner
      .works__info
        .works__info-icon <span>?</span>
        p.works__info-text Септик - это автономная канализация, экологически безопасная, которая не источает запах и удобная в использовании.
      ul.works__list
        li.works__item
          .works__item-top
            span 01
            img(src="../images/icons/works-arrow.svg", alt="")
          p.works__item-text Бытовые сточные воды направляются в септик по трубопроводу.
        li.works__item
          .works__item-top
            span 02
            img(src="../images/icons/works-arrow.svg", alt="")
          p.works__item-text Внутри септика происходит механическая и биологическая очистка стоков.
        li.works__item
          .works__item-top
            span 03
            img(src="../images/icons/works-arrow.svg", alt="")
          p.works__item-text Очищенная вода сбрасывается в грунт для почвенной доочистки либо на рельеф. 
        